$brand-color: #1498bb; //blue
$primary-color: #11819f; //hover blue
$secondary-color: #f7941d; //orange
$dark: #18181a; //black
$third-color: #6aa530; //green
$third-color-darker: #5a8c29; //hover green
